.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.card-image{
    max-width: 60%;
    border-radius: 50%;
}

.card-titulo{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.card-text{
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 30%);
}