.btnDivs{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 30px;
}

.container{
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.btn{
    padding: 20px;
    min-width: 30px;
    border-radius: 15px;
    background-color: purple;
    box-shadow: 3px 3px 5px hsla(300, 100%, 25%, 0.5);
    cursor: pointer;
}