body{
    height: 100vh;
    background-color: hsl(0, 0%, 20%);
    margin: 0;
}

#jogo-completo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    height: 300px;
    width: 300px;
    background-color: hsl(0, 0%,10%);
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.3);
    border-radius: 15px;
}

#div-escolhas{
    display: flex;
    gap: 10px;
}

button{
    padding: 20px;
    background-color: hsl(0, 0%, 60%);
    box-shadow: 0px 0px 5px hsl(0, 0%, 80%, 0.4);
    font-weight: bold;
    font-size: 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 50%);
}

button:active{
    background-color: hsl(0, 0%, 40%);
}

#div-resultado{
    background-color: hsl(0, 0%, 60%);
    padding: 20px 40px;
    border-radius: 15px;
    font-weight: bold;
}