
body{
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1,h2{
    margin: 0;
}

.divBuscaBinaria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.nodes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-bottom: 70px;
}

.nodes::after{
    content: "D";
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: green;

    position: absolute;
    top: 100%;
    right: -6%;
}

.nodes::before{
    content: "E";
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    
    position: absolute;
    top: 100%;
    left: -6%;
}

.node{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

.node::after{
    content: "D";
    visibility: hidden;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    
    position: absolute;
    top: 100%;
}

.node::before{
    content: "E";
    visibility: hidden;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    
    position: absolute;
    top: 100%;
}

.numero{
    height: 60px;
    width: 60px;
    border: 6px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}

.botoes{
    display: flex;
    gap: 10px;
}

button{
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 0 20px;
    color: white;
}

button:hover{
    filter: brightness(95%);
}

button:active{
    filter: brightness(90%);
}

#resetar{
    background-color: red;
}

#rodar{
    background-color: green;
}

#proximo{
    background-color: blue;
}

/*Isso foi feito pelo chat pq tenho preguiça de fazer coisas bonitinhas akskas (COMEÇO)*/

.setaParaBaixo {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #1e2d44; 
    position: relative;
    margin-top: 40px;
}

.setaParaBaixo::after {
  content: "";
  width: 12px; 
  height: 40px; 
  background-color: #1e2d44;
  position: absolute;
  top: -55px; 
  left: -6px; 
  border-radius: 4px 4px 0 0; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/*Isso foi feito pelo chat pq tenho preguiça de fazer coisas bonitinhas akskas (FIM)*/