.categoriaLista{
    font-size: 2.5em;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    background-color: hsl(185, 100%, 50%);
}

.itensLista{
    font-size: 2em;
    list-style: none;
    color: hsl(0, 0%,25%);
    text-align: center;
    margin: 0;
}

.itensLista li:hover{
    color: hsl(0, 0%, 45%);
    cursor: pointer;
}